<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
            <div class="col-12">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Picture</th>
                    <th>Amount</th>
                    <th>Price</th>
                </tr>
            </thead>
            <tbody>
                <tr> 
                    <td></td>
                    <td></td>
                    <td><input type="text" class="form-control" id="id" [(ngModel)]="currentProducts.name" name="id" /></td>
                    <td><input type="text" class="form-control" id="id" [(ngModel)]="currentProducts.url" name="id" /></td>
                    <td><input type="number" class="form-control" id="id" [(ngModel)]="currentProducts.amount" name="id" /></td>
                    <td><input type="number" class="form-control" id="id" [(ngModel)]="currentProducts.price" name="id" /></td>
                    <td><button class="btn btn-sm btn-primary" (click)="onCreateProduct()">Creat</button> </td>
                </tr>
                <tr *ngFor="let product of products; let i = index"
                [class.active]="i == currentIndex">
                    <td>{{i+1}}</td>
                    <td><input type="text" class="form-control" id="id" [(ngModel)]="product.id" name="id" /></td>
                    <td><input type="text" class="form-control" id="id" [(ngModel)]="product.name" name="id" /></td>
                    <td><input type="text" class="form-control" id="id" [(ngModel)]="product.url" name="id" /></td>
                    <td><input type="number" class="form-control" id="id" [(ngModel)]="product.amount" name="id" /></td>
                    <td><input type="number" class="form-control" id="id" [(ngModel)]="product.price" name="id" /></td>
                    <td> <button class="btn btn-sm btn-danger"  (click)="onDeleteProduct(product.id)">Delete</button></td>
                    <td> <button class="btn btn-sm btn-primary" (click)="updateProduct(product.id,product)">Update</button> </td>
                </tr>
            </tbody>
        </table>
</div>
</div>
</div>
</section>
