<main class="flex-shrink-0">
    <section class="py-5">
       <div class="container px-5">
           <h1 class="fw-bolder fs-5 mb-4">Céges Blog</h1>
           <div class="card border-0 shadow rounded-3 overflow-hidden">
               <div class="card-body p-0">
                   <div class="row gx-0">
                       <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/assets/e-lq.jpg" alt="..." /></div>
                       <div class="col-lg-6 col-xl-5 py-lg-5">
                           <div class="p-4 p-md-5">
                               <div class="badge bg-primary bg-gradient rounded-pill mb-2">Hirek</div>
                               <div class="h2 fw-bolder">E-folydékok elönyei</div>
                               <p>Az e-liquid, vagyis az elektromos cigaretta folyadék, számos előnnyel jár a hagyományos dohányzáshoz képest. Nézzük meg, milyen előnyökkel jár az e-liquid használata</p>
                               <a class="stretched-link text-decoration-none" href="#!">
                                  Olvass tovább<i class="bi bi-arrow-right"></i>
                               </a>
                           </div>
                       </div>
                       <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('https://dummyimage.com/700x350/343a40/6c757d')"></div></div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <section class="py-5 bg-light">
       <div class="container px-5">
           <div class="row gx-5">
               <div class="col-xl-8">
                   <h2 class="fw-bolder fs-5 mb-4">Weboldalak</h2>
                   <div class="mb-4">
                       <div class="small text-muted">LongFillek</div>
                       <a class="link-dark" href="https://e-liquidbolt.cc/"><h3>e-liquidbolt.cc</h3></a>
                   </div>
                   <div class="mb-5">
                       <div class="small text-muted">ShortFillek</div>
                       <a class="link-dark" href="https://mikrofiber.hu/"><h3>mikrofiber.hu</h3></a>
                   </div>
                   <div class="mb-5">
                       <div class="small text-muted">VapeNgo</div>
                       <a class="link-dark" href="https://juicyvapour.com/"><h3>juicyvapour.com</h3></a>
                   </div>
                   <div class="text-end mb-5 mb-xl-0">
                       <a class="text-decoration-none" href="#!">
                        További hírek
                           <i class="bi bi-arrow-right"></i>
                       </a>
                   </div>
               </div>
               <div class="col-xl-4">
                   <div class="card border-0 h-100">
                       <div class="card-body p-4">
                           <div class="d-flex h-100 align-items-center justify-content-center">
                               <div class="text-center">
                                   <div class="h6 fw-bolder">
                                    Érintkezés</div>
                                   <p class="text-muted mb-4">
                                    Sajtóértesülések esetén írjon nekünk a címre
                                       <br />
                                       <a href="#!"></a>
                                   </p>
                                   <div class="h6 fw-bolder">Kövess minket</div>
                                   <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-twitter"></i></a>
                                   <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-facebook"></i></a>
                                   <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-linkedin"></i></a>
                                   <a class="fs-5 px-2 link-dark" href="#!"><i class="bi-youtube"></i></a>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>
   </section>
   <section class="py-5">
       <div class="container px-5">
           <h2 class="fw-bolder fs-5 mb-4">Elönyök</h2>
           <div class="row gx-5">
               <div class="col-lg-4 mb-5">
                   <div class="card h-100 shadow border-0">
                       <img class="card-img-top" src="/assets/eper1.jpg" alt="..." />
                       <div class="card-body p-4">
                           <div class="badge bg-primary bg-gradient rounded-pill mb-2">Elöny:1</div>
                           <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Nincs irritáló szag:</div></a>
                           <p class="card-text mb-0">Az e-liquid nem hagy kellemetlen szagot maga után, így nem kell aggódnod a ruháid vagy a hajad szaga miatt. Ráadásul különböző ízek közül választhatsz, így kellemes aromával élvezheted a vapelést.</p>
                       </div>
                       <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                           <div class="d-flex align-items-end justify-content-between">
                               <div class="d-flex align-items-center">
                                   <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                   <div class="small">
                                       <div class="fw-bold">Kelly Rowan</div>
                                       <div class="text-muted">March 12, 2023 6 min read</div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 mb-5">
                   <div class="card h-100 shadow border-0">
                       <img class="card-img-top" src="/assets/gymli.jpg" alt="..." />
                       <div class="card-body p-4">
                           <div class="badge bg-primary bg-gradient rounded-pill mb-2">Elöny:2</div>
                           <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Különböző ízek:</div></a>
                           <p class="card-text mb-0">Az e-liquid számos ízben elérhető, így választhatsz például hagyományos dohányízt vagy különböző gyümölcsös, édes vagy mentolos ízeket.</p>
                       </div>
                       <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                           <div class="d-flex align-items-end justify-content-between">
                               <div class="d-flex align-items-center">
                                   <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                   <div class="small">
                                       <div class="fw-bold">Josiah Barclay</div>
                                       <div class="text-muted">March 23, 2023 4 min read</div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
               <div class="col-lg-4 mb-5">
                   <div class="card h-100 shadow border-0">
                       <img class="card-img-top" src="/assets/gyuml.jpg" alt="..." />
                       <div class="card-body p-4">
                           <div class="badge bg-primary bg-gradient rounded-pill mb-2">Elönyök:3</div>
                           <a class="text-decoration-none link-dark stretched-link" href="#!"><div class="h5 card-title mb-3">Nincs mérgező anyag:</div></a>
                           <p class="card-text mb-0">Az e-liquid sokkal biztonságosabb, mint a hagyományos cigaretta, mivel nem tartalmazza a dohányfüstben található káros anyagokat, például a kátrányt és a szén-monoxidot.</p>
                       </div>
                       <div class="card-footer p-4 pt-0 bg-transparent border-top-0">
                           <div class="d-flex align-items-end justify-content-between">
                               <div class="d-flex align-items-center">
                                   <img class="rounded-circle me-3" src="https://dummyimage.com/40x40/ced4da/6c757d" alt="..." />
                                   <div class="small">
                                       <div class="fw-bold">Evelyn Martinez</div>
                                       <div class="text-muted">April 2, 2023 10 min read</div>
                                   </div>
                               </div>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
           <div class="text-end mb-5 mb-xl-0">
               <a class="text-decoration-none" href="#!">
                További történetek
                   <i class="bi bi-arrow-right"></i>
               </a>
           </div>
       </div>
   </section>
   </main>