<div id="app">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <a href="#" class="navbar-brand">Dohánywebshop</a>
      <ul class="navbar-nav mr-auto" routerLinkActive="active">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Föoldal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">Rólunk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Termékek</a>
        </li>
       <li class="nav-item">
          <form class="d-flex">
            <button class="btn btn-outline-light" type="submit" routerLink="/cart">
                <i class="bi bi-basket-fill me-1"></i>
                Kosár
                <span class="badge bg-dark text-white ms-1 rounded-pill" >{{carts?.length}}</span>
            </button>
        </form>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard">
          <a class="nav-link" routerLink="/admin">Admin oldal</a>
        </li>
        <li class="nav-item" *ngIf="showModeratorBoard">
          <a class="nav-link" routerLink="/mod">Moderator oldal</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard || showModeratorBoard">
          <a class="nav-link" routerLink="/products-add">Termék felvitel</a>
        </li>
        <li class="nav-item" *ngIf="showAdminBoard || showModeratorBoard">
          <a class="nav-link" routerLink="/order-detail">Rendlés leirás</a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" *ngIf="isLoggedIn" routerLink="user">User</a>
        </li>-->
        
            <li class="nav-item">
              <div class="dropdown1">
                <input type="search" class="form-control" id="searchInput" #searchInput (input)="search($event)" placeholder="Keresés">
              <!--<div class="dropdown-content1">
                <ul *ngFor="let item of filteredData">
                  <li><a class="text-primary" routerLink="/products/{{item.id}}">{{ item.name }}</a></li>
                </ul>
              </div>-->
            </div>
            </li>
            </ul>
  
      
      <ul class="navbar-nav ml-auto" *ngIf="!isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/register">Regisztráció</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">Bejelentkezés</a>
        </li>
      </ul>
  
      <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">{{ username }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" routerLink="/home">Kijelentkezés</a>
        </li>
      </ul>
    </nav>
    
  
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  
  </div>
  