<section class="py-5">
    <div class="container px-5">
        <h1 class="fw-bolder fs-5 mb-4">Céges Blog</h1>
        <div class="card border-0 shadow rounded-3 overflow-hidden">
            <div class="card-body p-0">
                <div class="row gx-0">
                    <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="{{currentProduct.url}}" alt="..." /></div>
                    <div class="col-lg-6 col-xl-5 py-lg-5">
                        <div class="p-4 p-md-5">
                            <div class="badge bg-primary bg-gradient rounded-pill mb-2">{{currentProduct.name}}</div>
                            <div class="h2 fw-bolder">E-folydékok elönyei</div>
                            <p>Az e-liquid, vagyis az elektromos cigaretta folyadék, számos előnnyel jár a hagyományos dohányzáshoz képest. Nézzük meg, milyen előnyökkel jár az e-liquid használata</p>
                            <a class="stretched-link text-decoration-none" href="#!">
                                Olvass tovább
                                <i class="bi bi-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-7"><div class="bg-featured-blog" style="background-image: url('https://dummyimage.com/700x350/343a40/6c757d')"></div></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">E-mail cím</label>
    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Példa szövegterületre</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>