<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a routerLink="/home"><img  src="assets/foldal.jpg" class="d-block w-100" alt="kep1"></a>
      </div>
      <div class="carousel-item">
        <a routerLink="/about"><img  src="assets/about.jpg" class="d-block w-100" alt="kep2">
</a></div>
      <div class="carousel-item">
        <a routerLink="/products"><img  src="assets/termékek.jpg" class="d-block w-100" alt="kep3">
      </a></div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">
        Előző</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Következő</span>
    </button>
  </div>
<main class="flex-shrink-0">
  <header class="py-5">
      <div class="container px-5">
          <div class="row justify-content-center">
              <div class="col-lg-8 col-xxl-6">
                  <div class="text-center my-5">
                      <h1 class="fw-bolder mb-3">Küldetésünk az ezzel az odalal hogy egy segitsünk a doháynzóknak és a leszokokat egyaránt</h1>
                      <p class="lead fw-normal text-muted mb-4">A Start Bootstrap arra az elgondolásra épült, hogy a minőségi, funkcionális webhelysablonok és témák mindenki számára elérhetőek legyenek. Használja nyílt forráskódú, ingyenes termékeinket, vagy támogasson minket prémium termékeink vagy szolgáltatásaink megvásárlásával.</p>
                      <a class="btn btn-primary btn-lg" href="#scroll-target">Olvassa el történetünket</a>
                  </div>
              </div>
          </div>
      </div>
  </header>
  <section class="py-5 bg-light" >
      <div class="container px-5 my-5">
          <div class="row gx-5 align-items-center">
              <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="/assets/OIG3.jpg" alt="..." /></div>
              <div class="col-lg-6">
                  <h2 class="fw-bolder">Az alapításunk</h2>
                  <p class="lead fw-normal text-muted mb-0">A dohányzásról való leszokásnak számos pozitív hozadéka van. Függetlenül attól, hogy az egyén életének milyen hosszú szakasza telt el dohányzással, sohasem késő leszokni! Amint abbahagyja valaki a dohányzást, a szervezete azonnal elkezdi gyógyítani saját magát. Néhány pozitív hatás már percek, illetve néhány nap elteltével is megmutatkozik:</p>
              </div>
          </div>
      </div>
  </section>
  <section class="py-5">
      <div class="container px-5 my-5">
          <div class="row gx-5 align-items-center">
              <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="/assets/cora.jpg" alt="..." /></div>
              <div class="col-lg-6">
                  <h2 class="fw-bolder">Növekedés azon túl</h2>
                  <table class="lead fw-normal text-muted mb-0">
                    <tr><p>20 perc: A nikotin szervezetből való kiürülésével párhuzamosan, 20 percen belül javul a vérkeringés, normalizálódik a pulzusszám és a vérnyomás. Emellett a végtagok keringése is javul, melegszik a kéz és a láb.</p></tr>
                    <tr><p> 8-12 óra: Normalizálódik a vér oxigén- és szén-monoxid szintje.</p></tr>
                    <tr><p>24 óra: Egy napi füstmentesség elteltével elkezdődik a hörgők regenerációja, a tüdő tisztulni kezd, az ízlelés és a szaglás jelentősen javul.</p></tr>
                    <tr><p>72 óra: Három nap elteltével érezhetően könnyebbé válik a légzés.</p></tr>
                  </table>
              </div>
          </div>
      </div>
  </section>
  <section class="py-5 bg-light">
      <div class="container px-5 my-5">
          <div class="text-center">
              <h2 class="fw-bolder">A mi csapatunk</h2>
              <p class="lead fw-normal text-muted mb-5">Elkötelezett a minőség és az Ön sikere</p>
          </div>
          <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
              <div class="col mb-5 mb-5 mb-xl-0">
                  <div class="text-center">
                      <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                      <h5 class="fw-bolder">Ibbie Eckart</h5>
                      <div class="fst-italic text-muted">Founder CEO</div>
                  </div>
              </div>
              <div class="col mb-5 mb-5 mb-xl-0">
                  <div class="text-center">
                      <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                      <h5 class="fw-bolder">Arden Vasek</h5>
                      <div class="fst-italic text-muted">CFO</div>
                  </div>
              </div>
              <div class="col mb-5 mb-5 mb-sm-0">
                  <div class="text-center">
                      <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                      <h5 class="fw-bolder">Toribio Nerthus</h5>
                      <div class="fst-italic text-muted">Operations Manager</div>
                  </div>
              </div>
              <div class="col mb-5">
                  <div class="text-center">
                      <img class="img-fluid rounded-circle mb-4 px-4" src="https://dummyimage.com/150x150/ced4da/6c757d" alt="..." />
                      <h5 class="fw-bolder">Malvina Cilla</h5>
                      <div class="fst-italic text-muted">CTO</div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</main>
